<p>responsible for rendering new movie</p>
<form action="/movies" method="post">
  <input type="text" placeholder="Title" name="title">
  <input type="text" placeholder="Director" name="director">
  <input type="text" placeholder="Description" name="description">
  Showing ? <input type="checkbox" name="showing">
  <input type="submit" value="Create Movie">
</form>
